.DS_Store
.DS_Store
--language
--language
.DS_Store
.DS_Store
PSDStringPredictor.xcodeproj/project.xcworkspace/xcuserdata/ipdesign.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
PSDStringPredictor.xcodeproj/project.pbxproj
PSDStringPredictor.xcodeproj/project.xcworkspace/xcuserdata/ipdesign.xcuserdatad/UserInterfaceState.xcuserstate
PSDStringPredictor.xcodeproj/xcuserdata/ipdesign.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
PSDStringPredictor.xcodeproj/xcuserdata/ipdesign.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
PSDStringPredictor.xcodeproj/project.xcworkspace/xcuserdata/ipdesign.xcuserdatad/UserInterfaceState.xcuserstate
PSDStringPredictor.xcodeproj/project.pbxproj
.DS_Store
PSDStringPredictor.xcodeproj/xcuserdata/ipdesign.xcuserdatad/xcschemes/xcschememanagement.plist
PSDStringPredictor/Resources/CharColorMode.swift
.DS_Store
PSDStringPredictor.xcodeproj/project.xcworkspace/xcuserdata/ipdesign.xcuserdatad/UserInterfaceState.xcuserstate
PSDStringPredictor.xcodeproj/xcuserdata/ipdesign.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
PSDStringPredictor.xcodeproj/project.xcworkspace/xcuserdata/ipdesign.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
PSDStringPredictor/Resources/fontSizeRegressor.mlproj/Model Containers/fontSizeRegressor 4 copy 2.json
PSDStringPredictor/Resources/fontSizeRegressor.mlproj/Data Sources/fontSize.csv.json
xcschememanagement.plist
PSDStringPredictor.xcodeproj/project.xcworkspace/xcuserdata/ipdesign.xcuserdatad/UserInterfaceState.xcuserstate
PSDStringPredictor.xcodeproj/xcuserdata/ipdesign.xcuserdatad/xcschemes/xcschememanagement.plist
PSDStringPredictor.xcodeproj/xcuserdata/ipdesign.xcuserdatad/xcschemes/xcschememanagement.plist.orig