<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DPICheck</key>
	<false/>
	<key>Debug</key>
	<false/>
	<key>PSPath</key>
	<string>/Applications/Adobe Photoshop 2020/Adobe Photoshop 2020.app</string>
</dict>
</plist>
